# Maven
target/
.mvn/wrapper/maven-wrapper.jar

# Logs
*.log

# Compiled files
*.class

# Packages
*.jar
*.war
*.ear
*.zip
*.tar.gz

# IntelliJ
.idea/
*.iws
*.iml
*.ipr

# Eclipse / STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# OS
.DS_Store
Thumbs.db

# Env
.env

# Misc
HELP.md
CLAUDE.md

.claude/settings.local.json